<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FutureState.Db.Setup.Settings.DefaultDb"
         connectionString="Data Source=.\sql2014;Initial Catalog=FutureState_Dev;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
  </runtime>
</configuration>