<?xml version="1.0" encoding="utf-8"?>

<flowPackages>
  <flowPackage id="CsvHelper" version="6.1.1" targetFramework="net461" />
  <flowPackage id="EmitMapper" version="1.0.0" targetFramework="net461" />
  <flowPackage id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <flowPackage id="NLog" version="4.4.12" targetFramework="net461" />
  <flowPackage id="YamlDotNet" version="4.2.3" targetFramework="net461" />
</flowPackages>